* {
  background-color: whitesmoke;
}
.heading {
  font-size:60;
  font-family: Arial;
  border-style:solid;
  height: 60px;
  width: 1900px;
  border-color: navy;
  color:orangered;
  background-color:transparent;
  display: flex;
  justify-content: center;
}


.recipes {
  display: flex;
  border: solid;
  border-color: navy;
  display: display;
  justify-content: space-around;
}


.wing-recipe,
.stir-recipe,
.meat-recipe {
  color: navy;
  font-family: Arial;
  text-decoration: none;
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: rgb(255, 94, 0);
  border: solid;
  text-align: center;
}
